---

---

<main>
    <slot/>
</main>
<style is:global>
    main {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 3rem;
        min-height: 80vh;
        max-width: 50rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        font-size: clamp(1rem, 120%, 1.5rem);
        color: white;
    }
    @media screen and (max-width: 600px) {
        main {
            width: 100%;
        }
    }
    
    main a:link {
        color: rgb(0, 228, 0);
        background-color: transparent;
        text-decoration: none;
    }

    main a:visited {
        color: rgb(255, 0, 255);
        background-color: transparent;
        text-decoration: none;
    }

    main a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    main a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
